<template name="appBody">
  <!-- <div id="container" class="{{menuOpen}} {{cordova}} container"> -->
  <div id="container" class="{{menuOpen}} {{cordova}}">
  <div class="row">
    <hr>
    <div class="col-md-2">
    <section id="menu">
      {{#if currentUser}}
        <div class="btns-group-vertical text-center">
          <a href="#" class="js-user-menu btn-secondary">
            {{#if userMenuOpen}}
              <span class="icon-arrow-up"></span>
              {{else}}
              <span class="icon-arrow-down"></span>
            {{/if}}
            <!-- {{emailLocalPart}} -->
            {{usernameLocalPart}}
          </a>
          {{#if userMenuOpen}}
            <a class="js-logout btn-secondary">Logout</a>
          {{/if}}
        </div>
      {{else}}
        <div class="btns-group text-center">
          <a href="{{pathFor 'signin'}}" class="btn-secondary">Sign In</a>
          <a href="{{pathFor 'join'}}" class="btn-secondary">Join</a>
        </div>
      {{/if}}

      <!-- <div class="list-todos">
        <a class="js-new-list link-list-new"><span class="icon-plus"></span>New list</a>

        {{#each lists}}
          <li><a href="{{pathFor 'listsShow'}}" class="list-todo {{activeListClass}}" title="{{name}}">
            {{#if userId}}
              <span class="icon-lock"></span>
            {{/if}}
            {{#if incompleteCount}}
              <span class="count-list">{{incompleteCount}}</span>
            {{/if}}
            {{name}}
          </a></li>
        {{/each}}

      </div> -->
        <hr>
      <div class="list-todos text-center">
        <a class="js-new-plan link-list-new"><span class="icon-plus"></span>New Patient Plan</a>
        <hr>
        <!-- {{#with plans}} -->
        {{#each plans}}
          <li><a href="{{pathFor 'plansShow'}}" class="list-todo {{activePlanClass}}" title="{{header.name}}">
            {{#if userId}}
              <span class="icon-lock"></span>
            {{/if}}
            {{#if incompleteCount}}
              <span class="count-list">{{incompleteCount}}</span>
            {{/if}}
            {{header.name}}
          </a></li>
        {{/each}}
        <!-- {{/with}} -->
      </div>
      <hr>
    <div><a href="{{pathFor 'search'}}" class="btn-secondary center-block menu">Search patient</a></div>
    </section>
    
    </div>
    
    
    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}
    
    <div class="content-overlay"></div>
     
    <!-- <div id="content-container" class="col-md-10"> -->
    <div id="content-container" class="container col-md-10">

      {{#each thisArray}}
        {{> yield}}
      {{/each}}
    </div> 
    <hr>
</div>
<hr>
<div class="row">
  
    <div  class="foot" style="text-align: center;"><h2>This is the footer  place for info  </h2></div>
      
  <hr>
</div>   
</div>

</template>