@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

 #menu {
    border-left-width: 0px;
    margin-left: 10px;
    /*padding-right: 59px;*/
    margin-top: 25px;
    padding-left: 20px;
 }

 #content-container {
    padding-right: 20px;
 	padding-left: 20px;
 	border-left: thick double  rgb(238, 238, 238);
 	border-right: thick double  rgb(238, 238, 238);
 	
 }

 h3,h2.title {
    text-align: center;
}

h3  {
    background-color: yellow;
}

form.active {
 border-radius: 1em;
    border: 4px solid yellow;
    border-radius: 1em;
    margin-bottom: 10px;
}

div.foot {
 text-align: :center;
}

h2.extract {
	text-align: :center;
}

form.treatment {

	background-color: rgb(155, 153, 153);
    border: 4px solid #111110;
    border-radius: 1em;
    margin-bottom: 10px;
}

h3.treatment {

        background-color: #c9302c;

}


form.blue {

	background-color: lightblue;
    border: 4px solid green;
    border-radius: 1em;
    margin-bottom: 10px;
}

h3.blue {

        background-color: #5cb85c;
}

a.btn-secondary {
	margin:10px;
}

button.register {
    margin:10px;
}

button.done {
    padding-left: 60px;
    padding-right: 60px;
}

#menu {
    margin-bottom: 30px;
}

a.menu {
    text-align: center;
}

#container {
        background: azure;
}

@media screen and (min-width: 1640px) {
  #menu {
        position: fixed;
    }
}

a.activ {
    border: 2px solid;
    padding: 10px;
    background: #dddddd;
    border-radius: 1em;
}

div.foot {
    margin-top: 150px;
}







/* CSS declarations go here */


body {
    color: black;
    font-family: arial;
    margin: 0;
}

#header {
    background-color: #D7D6C4;
    font-family: 'Josefin Slab', serif;
    padding: 30px 20px;
}

#header h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 0;
}

#header h2 {
    margin: 0px 0px 20px 0px;
    font-size: 26px;
    color: #767450;
}

#content {
    margin-top: 10px;
    padding: 20px;
}

#header ul {
    margin: 0;
    padding: 0;
    height: 20px;
}

#header ul li {
    display: block;
    float: left;
    margin-right: 20px;
}

#header ul li a, #header ul li a:hover, #header ul li a:visited {
    color: black;
}

input {
    border: 1px solid #767450;
    border-radius: 4px;
    padding: 7px;
}

label {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 20px;
    padding: 5px 0;
    text-align: right;
    width: 250px;
}

.button {
    border-radius: 3px;
    background-color: #FF6600;
    color: white;
    padding: 5px 40px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-left: 270px;
}

.row {
    padding: 10px 0;
}

.row:last-child {
    margin-top: 20px;
}

ul.notifications {
position: fixed;
}



.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #090808;
}


.btn-success:hover {
    color: #FFF;
    background-color: #5cb85c;
    border-color: #090808;
}
