<template name="search">
  <div class="page auth text-center">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      
        <h1 class="title-auth">Search patients</h1>
        <!-- <p class="subtitle-auth" >Search by CPR</p> -->

        <form>
          

          <div class="input-symbol  ">
            <input type="search" name="search" placeholder="Insert CPR" />
            <!-- <span class="icon-email" title="Your Email"></span> -->
          </div>

         


          <button type="submit" class="btn-primary">Search</button>
        </form>
     

      
    </div>
  </div>
</template>