<template name="appBody">
  <!-- <div id="container" class="{{menuOpen}} {{cordova}} container"> -->
  <div id="wrapper" class="{{menuOpen}} {{cordova}}">
  
    <!-- <hr> -->
    <!-- <div class="col-md-2"> -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand wiped">
                    <a href="/">
                        TreatmentControl
                    </a>
                </li>
    <!-- <section id="menu"> -->
      {{#if currentUser}}
        <div class="btns-group-vertical text-center">
          <li><a href="#" class="js-user-menu btn-secondary">
            {{#if userMenuOpen}}
              <span class="icon-arrow-up"></span>
              {{else}}
              <span class="icon-arrow-down"></span>
            {{/if}}
            <!-- {{emailLocalPart}} -->
            {{usernameLocalPart}}
          </a></li>
          <!-- {{#if userMenuOpen}} -->
            <li class="wiped"><a class="js-logout btn-secondary">Log ud</a></li>
          <!-- {{/if}} -->
        </div>
      {{else}}
        <div class="btns-group text-center">
          <li class="wiped"><a href="{{pathFor 'signin'}}" class="btn-secondary">Log ind</a></li>
          <!-- <a href="{{pathFor 'join'}}" class="btn-secondary">Join</a> -->
        </div>
      {{/if}}

      <!-- <div class="list-todos">
        <a class="js-new-list link-list-new"><span class="icon-plus"></span>New list</a>

        {{#each lists}}
          <li><a href="{{pathFor 'listsShow'}}" class="list-todo {{activeListClass}}" title="{{name}}">
            {{#if userId}}
              <span class="icon-lock"></span>
            {{/if}}
            {{#if incompleteCount}}
              <span class="count-list">{{incompleteCount}}</span>
            {{/if}}
            {{name}}
          </a></li>
        {{/each}}

      </div> -->
         <!--  <hr> -->
        <div class="list-todos text-center">
          <li><a class="js-new-plan link-list-new"><span class="icon-plus"></span>Ny Patient Plan</a></li>
          <!-- <hr> -->
          <!-- {{#with plans}} -->
          {{#each plans}}
            <li class="wiped"><a class="list-todo {{activePlanClass}} hashroot" title="{{header.name}}">
            <!-- <li class="wiped"><a href="{{pathFor 'plansShow' hash=this.params.hash }}" class="list-todo {{activePlanClass}}" title="{{header.name}}"> -->
              {{#if userId}}
                <span class="icon-lock"></span>
              {{/if}}
              {{#if incompleteCount}}
                <span class="count-list">{{incompleteCount}}</span>
              {{/if}}
                
            
       
              {{header.name}}
            </a></li> <!-- <button type="button" name="done" class="btn-primary">hide</button> </li> -->
          {{/each}}
          <!-- {{/with}} -->
        </div>
        <!-- <hr> -->
      <div><li class="wiped"><a href="{{pathFor 'search'}}" class="btn-secondary center-block menu">Søg patient</a></li></div>
    <!-- </section> -->
      </ul>
    </div>
    
    
    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}
    
    <div class="content-overlay"></div>
     
    <!-- <div id="content-container" class="col-md-10"> -->
    <!-- <div id="content-container" class="container col-md-10"> -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid1">
              <a href="#menu-toggle" class="menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>   
              <h5 class="navtext">CPR:<b><h4 class="navtext">{{patient.cpr}}</h4></b> &nbsp;&nbsp;<b><h4 class="navtext">{{patient.name}}</h4></b>&nbsp;&nbsp;alder:<b><h4 class="navtext">{{patient.age}}</h4></b> &nbsp;&nbsp;højde:<b><h4 class="navtext">{{patient.height}}</h4></b> &nbsp;&nbsp;vægt:<b><h4 class="navtext">{{patient.weight}}</h4></b> &nbsp;&nbsp;overflade:<b><h4 class="navtext">{{patient.surface.value}}</h4></b></h5>
                 
          </div>
       </nav>
      
      <div class="container-fluid">       
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                     <!--  <div class="navbar">

                     <a href="#menu-toggle" class="menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
                         </div> -->
                      {{> notifications}}
                      
                      {{#each thisArray}}
                        {{> yield}}
                      {{/each}}
                     </div> 
                  </div> 
                  <!-- <hr> -->
               
      </div>    
    </div>

    <!-- <div class="row">
      
        <div  class="foot" style="text-align: center;"><hr><h2>This is the footer  place for info  </h2></div>
          
        <hr>
    </div>  -->  
</div>

</template>