
<!-- <template name="datetimepicker">
{{#autoForm id="afUpdateDemo" type=update collection=Collections.Plans doc=selectedPersonDoc autosave=true}}
  {{> afQuickField name="datetimepicker" type="bootstrap-datetimepicker"}}
 {{/autoForm}}
</template> -->


  <!-- {{#unless autoSaveMode}}
  <div class="form-group">
    <button type="submit" class="btn btn-primary" disabled="{{disableButtons}}">Submit</button>
    <button type="reset" class="btn btn-default" disabled="{{disableButtons}}">Reset Form</button>
  </div>
  {{/unless}} -->
 