<template name="plansShow">
  <div class="page lists-show">
    <nav class="js-title-nav">   <!-- style="height:220px;" -->

      {{#if editing}}
        <div class="row">
          <div class="col-md-2">
            <!-- date time -->
            <h6>Dato:</h6><input class="form-control inputfield input-sm" name="header.createdAt" type="datetime-local" value="{{header.createdAt}}">
            <!-- <h6>Dato:</h6>{{#autoForm id="afUpdateDemo" schema="Schemas.plans" type=update collection=Collections.Plans doc=selectedPersonDoc autosave=true}}
  {{> afQuickField name="datetimepicker" type="bootstrap-datetimepicker"}}
 {{/autoForm}} -->
          </div>
          <div class="col-md-8">
            <form class="js-edit-form list-edit-form">         
              <input class="form-control input-sm" type="text" name="name" value="{{header.name}}">
              <!-- <input type="text" placeholder="Type to add MTX number" value="{{mtx}}"> -->
               <div class="nav-group right">
                <a href="#" class="js-cancel nav-item"><span class="icon-close js-cancel" title="Cancel"></span></a>
              </div>
            </form>
          </div>      
          <div class="col-md-1">
            <div class="form-group"> 
                 <h6>MTX nr:</h6><input class="form-control inputfield input-sm" name="header.mtx" type="number" placeholder="Type to add MTX number" value="{{header.mtx}}">
              </div>
          </div>
        </div>   
      {{else}}
       <div class="row">
        <div class="col-md-2">
            <!-- date time -->
            <h6>Dato:</h6><input class="form-control inputfield input-sm " name="header.createdAt" type="datetime-local" value="{{header.createdAt}}">
         <!--    {{#autoForm collection="Try" id="plansShow" type="update" autosave=true}}
    
    <div class="clearfix">
      <div class="form-group col-md-4 {{#if afFieldIsInvalid name='createdAt'}}has-error{{/if}}">
        <label class="control-label">Dato</label>
        <div class="input-group date " id='picker-1'>
          {{> afFieldInput name='createdAt' type='text' class='form-control input-sm' trueLabel="False" falseLabel="False"}}
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        {{#if afFieldIsInvalid name='createdAt'}}
          <span class="help-block">{{{afFieldMessage name='createdAt'}}}</span>
        {{/if}}
      </div>
    
    </div>  
    {{/autoForm}} -->
        </div>
        <div class="col-md-8">
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>
        <!-- <h6><label>Patient Name</label></h6> -->
        <br>
        <h1 class="js-edit-list title-page"><span class="title-wrapper">{{header.name}}</span> <span class="count-list">{{incompleteCount}}</span></h1>

        <div class="nav-group right">
          <div class="nav-item options-mobile">
            <select class="list-edit">
              <option disabled selected>Select an action</option>
              {{#if userId}}
                <option value="public">Make Public</option>
              {{else}}
                <option value="private">Make Private</option>
              {{/if}}
              <option value="delete">Delete</option>
            </select>
            <span class="icon-cog"></span>
          </div>
          <div class="options-web">
            <a class="js-toggle-list-privacy nav-item">
              {{#if userId}}
                <span class="icon-lock" title="Make list public"></span>
              {{else}}
                <span class="icon-unlock" title="Make list private"></span>
              {{/if}}
            </a>

            <a class="js-delete-list nav-item">
              <span class="icon-trash" title="Delete list"></span>
            </a>
          </div>
        </div>
        </div>
        <div class="col-md-1">
            <div class="form-group"> 
                 <h6>MTX nr:</h6><input class="form-control inputfield input-sm" name="header.mtx" type="number" placeholder="Type to add MTX number" value="{{header.mtx}}">
              </div>
          </div>
        </div>
      {{/if}}
      
      
       <!-- <div class="row">
        <div class="col-xs-4"> -->
          <hr>
        <div class="row">
         
            
          <div class="col-md-7 col-lg-7">
         <form class="js-todo-new todo-new input-symbol">           
               <!-- <span class="icon-add js-todo-add"></span>                       -->
                  <div class="form-group">
                 <!-- <h6>Patient Name:</h6><input class="form-control inputfield" name="patientname" type="text" placeholder="Type to add Patient Name" value="{{patient.name}}" >  -->
                   <h6>Patient Name:</h6><input class="form-control inputfield input-sm" name="patient.name" type="text" placeholder="Type to add Patient Name" value="{{patient.name}}" >
                 </div>
                 <div class="form-group">
                   <h6>CPR:</h6><input class="form-control inputfield input-sm" name="patient.cpr" type="number" placeholder="Type to add CPR number" value="{{patient.cpr}}">
                 </div>
              <!-- <div class="form-group"> 
                 <h6>MTX nr:</h6><input class="form-control" name="mtx" type="number" placeholder="Type to add MTX number" value="{{mtx}}">
              </div> -->
          </form>
        </div>
          <div class="col-md-2 col-lg-2">
            <form class="js-todo-new todo-new input-symbol"> 
                
              
              <div class="form-group"> 
               <h6>Height:</h6><input class="form-control inputfield input-sm" name="patient.height" type="number" placeholder="Type to add patient height" value="{{patient.height}}">
              </div>
              <div class="form-group">  
               <h6>Weight:</h6><input class="form-control inputfield input-sm" name="patient.weight" type="number" placeholder="Type to add patient weight" value="{{patient.weight}}">
              </div>
            </form>
          </div>
          <div class="col-md-2 col-lg-2">
            <form class="js-todo-new todo-new input-symbol"> 
              <div class="form-group">  
                <h6>P-kreatin: µmol/l</h6><input class="form-control inputfield input-sm" name="header.pcreatin" type="number" placeholder="Type to add pcreatin" value="{{header.pcreatin}}">
              </div>
               <!-- <h6>Surface:</h6><input type="text" value="{{weight}}*{{height}}" disabled> -->
               <div class="form-group">
                 <h6>Surface: m²</h6><input class="form-control input-sm" type="number" value="{{patient.surface.value}}" disabled>
               </div>
            </form>
          </div>
           
        </div>
        <hr>
               <!-- {{#with treatments}}
               <h6>Treatment:</h6><input type="text" value="{{field1}}" disabled>
               {{/with}} -->
              
               <!-- <span class="icon-add js-todo-add"></span>  -->
               <!-- <input type="text" placeholder="Type to add new tasks">   -->
       
         
        <!-- </div>
       </div> -->
    </nav>
    
    <!-- <input type="text" name="name" value="{{mtx}}"> -->
    <div class="content-scrollable list-items {{hidden}}">
      <!-- {{#if header.mtx}} -->
      <div class="row" > 
      <hr>
      <h2 class="title">Treatments</h2>
      <hr>
      </div>
      <!-- {{#if todosReady}}
        {{#with _id}} {{! Establish new data context with only the '_id'
                          field. This way, when the 'incompleteCount' field
                          changes, we don't re-render the list contents }}
          {{#each todos this}}
            {{> todosItem}}
          {{else}}

          
    

            <div class="wrapper-message">
              <div class="title-message">No tasks here</div>
              <div class="subtitle-message">Add new tasks using the field above</div>
            </div>
          {{/each}}
        {{/with}}
      {{else}}
          <div class="wrapper-message">
            <div class="title-message">Loading tasks...</div>
          </div>
      {{/if}} -->
     
        <!-- {{#if todosReady}} -->
        <!-- {{#if treatments.[0].value2 }} -->

<!-- BEGINING OF THE FORM!!! -->
   <form class="{{checkedClass}} {{checkedClass1}}">    
    <hr>
        <div class="row">     
        <div class="col-md-12">
      
          <!-- <input type="checkbox" checked="{{treatments.one.checked}}" name="checked" value="{{treatments.one.checked}}"> Register Treatment -->
        <button type="button" name="checked" class="btn {{#if treatments.one.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.one.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div>
      <!-- ROW for every line -->
      <div class="row">   
         <!-- {{#with treatments.[0]}} -->
        <div class="col-md-2">
            <!-- datetime -->
            <h6>Dato:</h6><input class="form-control inputfield input-sm" name="treatments.one.createdAt" type="datetime-local" value="{{treatments.one.createdAt}}" {{disone}}>
        </div> 
        
        <div class="col-md-7">
            <h6>{{treatments.one.field1.text}}:</h6>
         </div>
        <div class="col-md-1">          
         </div> 
         <div class="col-md-1">
          {{#if field1.value}} <input class="form-control input-sm"  type="number" placeholder="Type to insert value" value="{{treatments.one.field1.value1}}">  {{/if}}
         </div> 
         <!-- {{/with}} -->
      </div>
      
      <div class="row">   
         <!-- {{#with treatments.[0]}} -->
        <div class="col-md-2">
            <!-- datetime -->
        </div> 
        
        <div class="col-md-8">
            <h6>{{treatments.one.field2.text}}:</h6>
         </div>
        
         <div class="col-md-1">
           <input class="form-control input-sm"  type="number" placeholder="Type to insert value" value="{{treatments.one.field2.value}}" disabled>  
         </div> 
         <div class="col-md-1"><h6>ml/time</h6></div>
         <!-- {{/with}} -->
      </div>
      
      <div class="row">   
         <!-- {{#with treatments.[0]}} -->
        <div class="col-md-2 col-lg-2">
            <!-- datetime -->
        </div> 
        
        <div class="col-md-8 col-lg-8">
            <h6>{{treatments.one.field3.text}}:</h6>
         </div>
        
         <div class="col-md-1 col-lg-1">
          <input class="form-control input-sm"  type="number" placeholder="Type to insert value" value="{{treatments.one.field3.value}}" disabled>   
         <!-- {{/with}} -->
        </div>
        <div class="col-md-1 col-lg-1"><h6>ml/time</h6></div>
        
      </div>
       
      <div class="row">   
         <!-- {{#with treatments.[0]}} -->
        <div class="col-md-2">
            <!-- datetime -->
        </div> 
        
        <div class="col-md-8">
            <h6>{{treatments.one.field4.text}}:</h6>
         </div>
        
         <div class="col-md-2">
          <!-- <input class="form-control"  type="number" placeholder="Type to insert value" value="{{treatments.[0].value4}}">    -->
         </div> 
         <!-- {{/with}} -->
      </div>
        
      <div class="row">   
         <!-- {{#with treatments.[0]}} -->
        <div class="col-md-2">
            <!-- datetime -->
        </div> 
        
        <div class="col-md-8">
            <h6>{{treatments.one.field5.text}}:</h6>
         </div>
        
         <div class="col-md-2">
          <!-- <input class="form-control"  type="number" placeholder="Type to insert value" value="{{treatments.[0].value5}}">    -->
         </div> 
         <!-- {{/with}} -->
      </div>

      <!-- END ROW for every line -->


      <hr>
    </form>
    
    <!-- SECOND FORM  --> 
    <form  class="{{checkedClass}} {{checkedClass2}}">
  
      <hr>
       <div class="row">
         <div class="col-md-12">
      <!-- <span class="input-group-addon"> -->
      <!-- <input type="checkbox" checked="{{treatments.two.checked}}" name="checked1" value="{{treatments.two.checked}}"> Register Treatment -->
      <button type="button" name="checked1" class="btn {{#if treatments.two.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.two.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
      <!-- </span> -->
     </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h6>Time -4</h6><input class="form-control inputfield input-sm" name="treatments.two.createdAt" type="datetime-local" value="{{treatments.two.createdAt}}" {{distwo}}>
        </div>
        <div class="col-md-7">
          <h6>{{treatments.two.field1.text}}:</h6>
        </div>
         <div class="col-md-2">
           <input class="form-control input-sm"  type="number" placeholder="Type to insert value" value="{{treatments.two.field1.value}}" disabled>  
         </div> 
         <div class="col-md-1"><h6>ml/time</h6></div>  
      </div>
      <hr>
    </form>

    <!-- THIRD FORM -->
    <form class="{{checkedClass}} {{checkedClass3}}">
      <hr>
      <div class="row">
        <div class="col-md-12">      
          <!-- <input type="checkbox" checked="{{treatments.tree.checked}}" name="checked2" value="{{treatments.tree.checked}}"> Register Treatment       -->
          <button type="button" name="checked2" class="btn {{#if treatments.tree.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.tree.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div>
      <div class="row">
          <div class="col-md-2">
            <!-- <input class="form-control" name="regdate" type="date" value="{{createdAt}}"> -->
            <h6>Time 0</h6><h6>Skriv start</h6><input class="form-control inputfield input-sm" name="treatments.tree.createdAt" type="datetime-local" value="{{treatments.tree.createdAt}}" {{disabled}}>
          </div>
          <div class="col-md-7">
            <h6>{{treatments.tree.field1.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control input-sm"  type="number" placeholder="Type to insert value" value="{{treatments.tree.field1.value}}" disabled> 
          </div>
          <div class="col-md-1">
            <h6>ml/6 timer</h6>
          </div>
      </div> 

      <div class="row">
          <div class="col-md-2">
            <!-- <input class="form-control" name="regdate" type="date" value="{{createdAt}}"> -->
           <!--  <h6>Skriv start</h6> -->
          </div>
          <div class="col-md-7">
             <h6>{{treatments.tree.field2.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control input-sm"  type="number" placeholder="Type to insert value" value="{{treatments.tree.field2.value}}" disabled> 
          </div>
          <div class="col-md-1">
            <h6>mg furosemid iv.</h6>
          </div>
      </div>  

      <div class="row">
          <div class="col-md-2">
            <!-- <input class="form-control input-sm" name="regdate" type="date" value="{{treatments.tree.createdAt}}" {{disabled}}> -->
          </div>
          <div class="col-md-7">
            <h6>{{treatments.tree.field3.text}}:</h6>
          </div >
          <div class="col-md-2">
          </div>
          <div class="col-md-1">
          </div>
      </div> 

      <div class="row">
          <div class="col-md-2">
            <!-- <input class="form-control" name="regdate" type="date" value="{{createdAt}}"> -->
          </div>
          <div class="col-md-7">
            <h6>{{treatments.tree.field4.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control input-sm"  type="number" placeholder="Type to insert value" value="{{treatments.tree.field4.value}}" disabled>
          </div>
          <div class="col-md-1"> 
            <h6>mmol Na-bicarbonat</h6>
          </div>
      </div> 

      <div class="row">
          <div class="col-md-2">
            <!-- <input class="form-control" name="regdate" type="date" value="{{createdAt}}"> -->
          </div>
          <div class="col-md-7">
            <h6>{{treatments.tree.field5.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.tree.field5.pcreatin" type="number" placeholder="Type to insert value" value="{{treatments.tree.field5.pcreatin}}" {{disabled}}>
          </div>
          <div class="col-md-1">
             <h6>µmol/l</h6>
          </div>
      </div> 

      <div class="row">
          <div class="col-md-2">
            <!-- <input class="form-control" name="regdate" type="date" value="{{createdAt}}"> -->
          </div>
          <div class="col-md-7">
            <h6>{{treatments.tree.field6.text}}:</h6>
          </div >
          <div class="col-md-2">
          </div>
          <div class="col-md-1">
          </div>
      </div> 
      
      <div class="row">
          <div class="col-md-2">
            <!-- <input class="form-control" name="regdate" type="date" value="{{createdAt}}"> -->
          </div>
          <div class="col-md-7">
            <h6>{{treatments.tree.field7.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control input-sm"  type="number" placeholder="Type to insert value" value="{{treatments.tree.field7.value}}" disabled>
          </div>
          <div class="col-md-1">
          </div>
      </div> 

      <div class="row">
          <div class="col-md-2">
            <!-- <input class="form-control" name="regdate" type="date" value="{{createdAt}}"> -->
          </div>
          <div class="col-md-7">
            <h6><b>{{treatments.tree.field8.text}}:</b></h6>
          </div >
          <div class="col-md-2">
          </div>
          <div class="col-md-1">
          </div>
      </div> 
      <hr>   
    </form>

    <!-- FORTH FORM -->
    <form class="{{checkedClass}} {{checkedClass4}}">
      <hr>
      <div class="row">
        <div class="col-md-12">      
         <!-- <input type="checkbox" checked="{{treatments.four.checked}}" name="checked3" value="{{treatments.four.checked}}"> Register Treatment       -->
         <button type="button" name="checked3" class="btn {{#if treatments.four.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.four.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div>
       <div class="row">
          <div class="col-md-2">
            <!-- <input class="form-control" name="regdate" type="date" value="{{createdAt}}"> -->
             <h6>Time 1</h6><input class="form-control inputfield input-sm" name="treatments.four.createdAt" type="datetime-local" value="{{treatments.four.time.value}}" disabled>
          </div>
          <div class="col-md-7">
            <h6>{{treatments.four.field1.text}}</h6>             
          </div >
          <div class="col-md-2">
            <input class="form-control input-sm"  type="number" placeholder="Type to insert value" value="{{treatments.four.field1.value}}" disabled>
          </div>
          <div class="col-md-1">
            <h6>mg MTX</h6>
          </div>
      </div>
      <hr>     
    </form>

    <!-- FIFTH FORM -->
    <form class="{{checkedClass}} {{checkedClass5}}">
     <hr>
      <div class="row">
        <div class="col-md-12">      
          <!-- <input type="checkbox" checked="{{treatments.five.checked}}" name="checked4" value="{{treatments.five.checked}}"> Register Treatment       -->
          <button type="button" name="checked4" class="btn {{#if treatments.five.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.five.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div>
      <div class="row">
          <div class="col-md-2">
            <h6>Time +23</h6><input class="form-control inputfield input-sm" name="treatments.five.createdAt" type="datetime-local" value="{{treatments.five.createdAt}}" {{disabled1}}>
          </div>
          <div class="col-md-7">
            <h6>{{treatments.five.field1.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.five.field1.semtx" type="number" placeholder="Type to insert value" value="{{treatments.five.field1.semtx}}" {{disabled1}}>            
          </div>
          <div class="col-md-1">
            <h6>µmol/l</h6>
          </div>
      </div> 
      <div class="row">
          <div class="col-md-2">
            <!-- <input class="form-control input-sm" name="regdate" type="date" value="{{treatments.five.createdAt}}" {{disabled1}}> -->   
          </div>
          <div class="col-md-7">
            <h6>{{treatments.five.field2.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.five.field2.pcreatin" type="number" placeholder="Type to insert value" value="{{treatments.five.field2.pcreatin}}" {{disabled1}}>
          </div>
          <div class="col-md-1">
            <h6>µmol/l</h6>
          </div>
      </div> 
      <div class="row">
          <div class="col-md-2">
          
          </div>
          <div class="col-md-7">
            <h6>{{treatments.five.field3.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.five.field3.semtx" type="number" placeholder="Type to insert value" value="{{treatments.five.field3.semtx}}" {{disabled1}}>
          </div>
          <div class="col-md-1">
            <h6>mg MTX i.sp.</h6>
          </div>
      </div> 
     <hr>
    </form>

    <!-- SIXTH FORM -->
    <form class="{{checkedClass}} {{checkedClass6}}">
       <hr>
       <div class="row">
        <div class="col-md-12">      
          <!-- <input type="checkbox" checked="{{treatments.six.checked}}" name="checked5" value="{{treatments.six.checked}}"> Register Treatment       -->
          <button type="button" name="checked5" class="btn {{#if treatments.six.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.six.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div>
      <div class="row">
          <div class="col-md-2">
            <h6>Time +24</h6><input class="form-control inputfield input-sm" name="treatments.six.createdAt" type="datetime-local" value="{{treatments.six.time.value}}" disabled>
          </div>
          <div class="col-md-7">
            <h6>{{treatments.six.field1.text}}:</h6>
          </div >
          <div class="col-md-2">
            <!-- <input class="form-control" name="semtx" type="number" placeholder="Type to insert value" value="{{treatments.[4].field1.semtx}}">    -->         
          </div>
          <div class="col-md-1">
            <!-- <h6>µmol/l</h6> -->
          </div>
      </div> 
      <hr>
    </form>

    <!-- SEVENTH FORM -->
    <form class="{{checkedClass}} {{checkedClass7}}">
     <hr>
      <div class="row">
        <div class="col-md-12">      
          <!-- <input type="checkbox" checked="{{treatments.seven.checked}}" name="checked6" value="{{treatments.seven.checked}}"> Register Treatment       -->
          <button type="button" name="checked6" class="btn {{#if treatments.seven.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.seven.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div>
      <div class="row">
          <div class="col-md-2">
            <h6>Time +36</h6><input class="form-control inputfield input-sm" name="treatments.seven.createdAt" type="datetime-local" value="{{treatments.seven.createdAt}}" {{disabled2}}> 
          </div>
          <div class="col-md-7">
            <h6>{{treatments.seven.field1.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.seven.field1.semtx" type="number" placeholder="Type to insert value" value="{{treatments.seven.field1.semtx}}" {{disabled2}}>            
          </div>
          <div class="col-md-1">
            <h6>µmol/l</h6>
          </div>
      </div> 
      <div class="row">
          <div class="col-md-2">
             
          </div>
          <div class="col-md-7">
            <h6>{{treatments.seven.field2.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.seven.field2.pcreatin" type="number" placeholder="Type to insert value" value="{{treatments.seven.field2.pcreatin}}" {{disabled2}}>
          </div>
          <div class="col-md-1">
            <h6>µmol/l</h6>
          </div>
      </div> 
      <br>
      <div class="row">
          <div class="col-md-2">
          
          </div>
          <div class="col-md-7">
            <h6>{{treatments.seven.field3.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control input-sm" type="number" placeholder="Type to insert value" value="{{treatments.seven.field3.value}}" disabled>
          </div>
          <div class="col-md-1">
            <h6>ml/time</h6>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2">
          
          </div>
          <div class="col-md-7">
            <h6>{{treatments.seven.field4.text}}:</h6>
          </div >
          <div class="col-md-2">
            <input class="form-control input-sm" type="number" placeholder="Type to insert value" value="{{treatments.seven.field4.value}}" disabled>
          </div>
          <div class="col-md-1">
            <h6>ml/6 timer</h6>
          </div>
      </div>  
     <hr>
    </form>

    <!-- EIGHT FORM -->
    <form class="{{checkedClass}} {{checkedClass8}}">
      <hr>
      <div class="row">
        <div class="col-md-12">      
          <!-- <input type="checkbox" checked="{{treatments.eight.checked}}" name="checked7" value="{{treatments.eight.checked}}"> Register Treatment       -->
          <button type="button" name="checked7" class="btn {{#if treatments.eight.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.eight.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-2">
             <h6>Time +42</h6><input class="form-control inputfield input-sm" name="treatments.eight.createdAt" type="datetime-local" value="{{treatments.eight.createdAt}}" {{disabled3}}>
          </div>
        <div class="col-md-7">
            <h6>{{treatments.eight.field1.text}}:</h6>
          </div>
        <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.eight.field1.semtx" type="number" placeholder="Type to insert value" value="{{treatments.eight.field1.semtx}}" {{disabled3}}>            
          </div>
          <div class="col-md-1">
            <h6>µmol/l</h6>
          </div>    
      </div>
      <div class="row">
        <div class="col-md-2">
              
          </div>
         <div class="col-md-3">
            <h6>{{treatments.eight.field2.text}}</h6>
          </div>
          <div class="col-md-4">
            <input class="form-control inputfield input-sm" name="treatments.eight.field2.name" type="text" placeholder="Write who did the treatment" value="{{treatments.eight.field2.name}}" {{disabled3}}>
          </div>
        <div class="col-md-2">
            <input class="form-control input-sm" type="number" placeholder="Type to insert value" value="{{treatments.eight.field2.value}}" disabled>
          </div>
          <div class="col-md-1">
            <h6>mg iv.</h6>
          </div>   
      </div>
      <div class="row">
        <div class="col-md-2">
            
          </div>
          <div class="col-md-7">
             <h6>{{treatments.eight.field3.text}}:</h6>
          </div >
          <div class="col-md-2">
                 
          </div>
          <div class="col-md-1">
         
          </div> 
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">
            
          </div>
          <div class="col-md-7">
             <h6><b>{{treatments.eight.field4.text}}</b></h6>
          </div >
          <div class="col-md-2">
                 
          </div>
          <div class="col-md-1">
         
          </div> 
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">
            
          </div>
          <div class="col-md-7">
             <h6><b>{{treatments.eight.field5.text}}</b></h6>
          </div >
          <div class="col-md-2">
                 
          </div>
          <div class="col-md-1">
         
          </div> 
      </div>
      <hr>
    </form>

    <!-- LOGIC FOR CHANGE DIFF. PLANS -->
        {{#if treatments.nine.hurtig.visible.value}}
        <hr>       
        <div class="row">         
            <h2 class="extract" style="text-align:center;"><b>{{treatments.nine.hurtig.name}}</b></h2>          
        </div>          
         <hr> 
        {{/if}}

        {{#if treatments.nine.normal.visible.value}}
        <hr>       
        <div class="row">
          <div class="col-md-12">
            <h2 class="extract" style="text-align:center;"><b>{{treatments.nine.normal.name}}</b></h2>
          </div> 
        </div>          
         <hr> 
        {{/if}}


    <!-- NINTH FORM-->

      {{#if treatments.nine.hurtig.visible.value}}
      <!-- HURTIG -->
      <!-- FIRST -->
    <form class="{{checkedClass}} {{checkedClass9}}">
      <hr>
      <div class="row">
        <div class="col-md-12">      
          <!-- <input type="checkbox" checked="{{treatments.nine.hurtig.first.checked}}" name="checked8" value="{{treatments.nine.hurtig.first.checked}}"> Register Treatment       -->
          <button type="button" name="checked8" class="btn {{#if treatments.nine.hurtig.first.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.nine.hurtig.first.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div> 
      <div class="row">
          <div class="col-md-2">
            <h6>Time +48</h6><input class="form-control inputfield input-sm" name="treatments.nine.hurtig.first.createdAt" type="datetime-local" value="{{treatments.nine.hurtig.first.createdAt}}" {{disabled4}}>
          </div>
          <div class="col-md-7">
             <h6>{{treatments.nine.hurtig.first.field1.text}}:</h6>
          </div>
          <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.nine.hurtig.first.field1.semtx" type="number" placeholder="Type to insert value" value="{{treatments.nine.hurtig.first.field1.semtx}}" {{disabled4}}>                    
          </div>
          <div class="col-md-1">
             <h6>µmol/l</h6>       
          </div> 
      </div>
      <div class="row">
        <div class="col-md-2">
               
          </div>
         <div class="col-md-3">
            <h6>{{treatments.nine.hurtig.first.field2.text}}</h6>
          </div>
          <div class="col-md-4">
            <input class="form-control inputfield input-sm" name="treatments.nine.hurtig.first.field2.name" type="text" placeholder="Write who did the treatment" value="{{treatments.nine.hurtig.first.field2.name}}" {{disabled4}}>
          </div>
        <div class="col-md-2">
            <input class="form-control input-sm" type="number" placeholder="Type to insert value" value="{{treatments.nine.hurtig.first.field2.value}}" disabled>
          </div>
          <div class="col-md-1">
            <h6>mg iv.</h6>
          </div>   
      </div>
      <hr>
    </form>

      <!-- SECOND -->
      <form class="{{checkedClass}} {{checkedClass10}}">
      <hr>
      <div class="row">
        <div class="col-md-12">      
          <!-- <input type="checkbox" checked="{{treatments.nine.hurtig.second.checked}}" name="checked9" value="{{treatments.nine.hurtig.second.checked}}"> Register Treatment       -->
          <button type="button" name="checked9" class="btn {{#if treatments.nine.hurtig.second.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.nine.hurtig.second.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div> 
      <div class="row">
          <div class="col-md-2">
            <h6>Time +54</h6><input class="form-control inputfield input-sm" name="treatments.nine.hurtig.second.createdAt" type="datetime-local" value="{{treatments.nine.hurtig.second.createdAt}}" {{disabled5}}>
          </div>
          <div class="col-md-7">
             <h6>{{treatments.nine.hurtig.second.field1.text}}:</h6>
          </div>
          <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.nine.hurtig.second.field1.semtx" type="number" placeholder="Type to insert value" value="{{treatments.nine.hurtig.second.field1.semtx}}" {{disabled5}}>                    
          </div>
          <div class="col-md-1">
             <h6>µmol/l</h6>       
          </div> 
      </div>
      <div class="row">
        <div class="col-md-2">
               
          </div>
         <div class="col-md-3">
            <h6>{{treatments.nine.hurtig.second.field2.text}}</h6>
          </div>
          <div class="col-md-4">
            <input class="form-control inputfield input-sm" name="treatments.nine.hurtig.second.field2.name" type="text" placeholder="Write who did the treatment" value="{{treatments.nine.hurtig.second.field2.name}}" {{disabled5}}>
          </div>
        <div class="col-md-2">
            <input class="form-control input-sm" type="number" placeholder="Type to insert value" value="{{treatments.nine.hurtig.second.field2.value}}" disabled>
          </div>
          <div class="col-md-1">
            <h6>mg iv.</h6>
          </div>   
      </div>
       <div class="row">
        <div class="col-md-2">
            
          </div>
         <div class="col-md-7">
            <h6>{{treatments.nine.hurtig.second.field3.text}}</h6>
          </div>
           
        <div class="col-md-2">
             
          </div>
          <div class="col-md-1">
           
          </div>   
      </div>
      <hr>
    </form>
    {{/if}}
    

    {{#if treatments.nine.normal.visible.value}}
    <!-- NORMAL -->
      <!--FIRST  -->
    <form class="{{checkedClass}} {{checkedClass11}}">
      <hr>
      <div class="row">
        <div class="col-md-12">      
          <!-- <input type="checkbox" checked="{{treatments.nine.normal.first.checked}}" name="checked10" value="{{treatments.nine.normal.first.checked}}"> Register Treatment       -->
          <button type="button" name="checked10" class="btn {{#if treatments.nine.normal.first.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.nine.normal.first.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div> 
      <div class="row">
          <div class="col-md-2">
            <h6>Time +48</h6><input class="form-control inputfield input-sm" name="treatments.nine.normal.first.createdAt" type="datetime-local" value="{{treatments.nine.normal.first.createdAt}}" {{disabled6}}>
          </div>
          <div class="col-md-7">
             <h6>{{treatments.nine.normal.first.field1.text}}:</h6>
          </div>
          <div class="col-md-2">
            <input class="form-control inputfield input-sm"  name="treatments.nine.normal.first.field1.semtx" type="number" placeholder="Type to insert value" value="{{treatments.nine.normal.first.field1.semtx}}" {{disabled6}}>                    
          </div>
          <div class="col-md-1">
             <h6>µmol/l</h6>       
          </div> 
      </div>
      <div class="row">
        <div class="col-md-2">
               
          </div>
         <div class="col-md-3">
            <h6>{{treatments.nine.normal.first.field2.text}}</h6>
          </div>
          <div class="col-md-4">
            <input class="form-control inputfield input-sm" name="treatments.nine.normal.first.field2.name" type="text" placeholder="Write who did the treatment" value="{{treatments.nine.normal.first.field2.name}}" {{disabled6}}>
          </div>
        <div class="col-md-2">
            <input class="form-control input-sm" type="number" placeholder="Type to insert value" value="{{treatments.nine.normal.first.field2.value}}" disabled>
          </div>
          <div class="col-md-1">
            <h6>mg iv.</h6>
          </div>   
      </div>
      <hr>
    </form>

      <!--SECOND FORM -->
      <form class="{{checkedClass}} {{checkedClass12}}">
      <hr>
      <div class="row">
        <div class="col-md-12">      
          <!-- <input type="checkbox" checked="{{treatments.nine.normal.second.checked}}" name="checked11" value="{{treatments.nine.normal.second.checked}}"> Register Treatment       -->
          <button type="button" name="checked11" class="btn {{#if treatments.nine.normal.second.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.nine.normal.second.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div> 
      <div class="row">
          <div class="col-md-2">
            <h6>Time +54</h6> <input class="form-control inputfield input-sm" name="treatments.nine.normal.second.createdAt" type="datetime-local" value="{{treatments.nine.normal.second.createdAt}}" {{disabled7}}>
          </div>
          <div class="col-md-7">
             <h6>{{treatments.nine.normal.second.field1.text}}:</h6>
          </div>
          <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.nine.normal.second.field1.semtx" type="number" placeholder="Type to insert value" value="{{treatments.nine.normal.second.field1.semtx}}" {{disabled7}}>                    
          </div>
          <div class="col-md-1">
             <h6>µmol/l</h6>       
          </div> 
      </div>
      <div class="row">
        <div class="col-md-2">
              
          </div>
         <div class="col-md-3">
            <h6>{{treatments.nine.normal.second.field2.text}}</h6>
          </div>
          <div class="col-md-4">
            <input class="form-control inputfield input-sm" name="treatments.nine.normal.second.field2.name" type="text" placeholder="Write who did the treatment" value="{{treatments.nine.normal.second.field2.name}}" {{disabled7}}>
          </div>
        <div class="col-md-2">
            <input class="form-control input-sm" type="number" placeholder="Type to insert value" value="{{treatments.nine.normal.second.field2.value}}" disabled>
          </div>
          <div class="col-md-1">
            <h6>mg iv.</h6>
          </div>   
      </div>
       <hr>
    </form>
      
    <!-- THIRD FORM -->
    <form class="{{checkedClass}} {{checkedClass13}}">
      <hr>
      <div class="row">
        <div class="col-md-12">      
          <!-- <input type="checkbox" checked="{{treatments.nine.normal.third.checked}}" name="checked12" value="{{treatments.nine.normal.third.checked}}"> Register Treatment       -->
          <button type="button" name="checked12" class="btn {{#if treatments.nine.normal.third.checked}}btn-danger{{else}}btn-success{{/if}}">{{#if treatments.nine.normal.third.checked}}UNREGISTER{{else}}REGISTER{{/if}}</button>
        </div>
      </div> 
      <div class="row">
          <div class="col-md-2">
            <h6>Time +66</h6><input class="form-control inputfield input-sm" name="treatments.nine.normal.third.createdAt" type="datetime-local" value="{{treatments.nine.normal.third.createdAt}}" {{disabled8}}> 
          </div>
          <div class="col-md-7">
             <h6>{{treatments.nine.normal.third.field1.text}}:</h6>
          </div>
          <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.nine.normal.third.field1.semtx" type="number" placeholder="Type to insert value" value="{{treatments.nine.normal.third.field1.semtx}}" {{disabled8}}>                    
          </div>
          <div class="col-md-1">
             <h6>µmol/l</h6>       
          </div> 
      </div>
      <div class="row">
        <div class="col-md-2">
              
          </div>
         <div class="col-md-7">
            <h6>{{treatments.nine.normal.third.field2.text}}</h6>
          </div>          
        <div class="col-md-2">
            <input class="form-control inputfield input-sm" name="treatments.nine.normal.third.field2.pcreatin" type="number" placeholder="Type to insert value" value="{{treatments.nine.normal.third.field2.pcreatin}}" {{disabled8}}>
          </div>
          <div class="col-md-1">
            <h6>µmol/l</h6>
          </div>   
      </div>
      {{#if treatments.nine.normal.third.field3.value}}
      <div class="row">
        <div class="col-md-2">
          
          </div>
         <div class="col-md-3">
            <h6>{{treatments.nine.normal.third.field4.text}}</h6>
          </div>
          <div class="col-md-4">
            <input class="form-control inputfield input-sm" name="treatments.nine.normal.third.field4.name" type="text" placeholder="Write who did the treatment" value="{{treatments.nine.normal.third.field4.name}}" {{disabled8}}>
          </div>
        <div class="col-md-2">
            <input class="form-control input-sm" type="number" placeholder="Type to insert value" value="{{treatments.nine.normal.third.field4.value}}" disabled>
          </div>
          <div class="col-md-1">
            <h6>mg iv.</h6>
          </div>   
      </div>
      {{/if}}

       <br>
      <div class="row">
          <div class="col-md-2">
            
          </div>
          <div class="col-md-7">
             <h6>{{treatments.nine.normal.third.field3.text}}:</h6>
          </div>
          <div class="col-md-2">
                                 
          </div>
          <div class="col-md-1">
                
          </div> 
      </div>

      <div class="row">
          <div class="col-md-2">
            
          </div>
          <div class="col-md-7">
             <h6>{{treatments.nine.normal.third.field5.text}}:</h6>
          </div>
          <div class="col-md-2">
                                 
          </div>
          <div class="col-md-1">
                
          </div> 
      </div>
      <div class="row">
          <div class="col-md-2">
            
          </div>
          <div class="col-md-7">
             <h6>{{treatments.nine.normal.third.field6.text}}:</h6>
          </div>
          <div class="col-md-2">
                                 
          </div>
          <div class="col-md-1">
                
          </div> 
      </div>
      <div class="row">
          <div class="col-md-2">
            
          </div>
          <div class="col-md-7">
             <h6>{{treatments.nine.normal.third.field7.text}}:</h6>
          </div>
          <div class="col-md-2">
                                 
          </div>
          <div class="col-md-1">
                
          </div> 
      </div>
      <br>
      <div class="row">
          <div class="col-md-2">
            
          </div>
          <div class="col-md-7">
             <h6>{{treatments.nine.normal.third.field8.text}}:</h6>
          </div>
          <div class="col-md-2">
                                 
          </div>
          <div class="col-md-1">
                
          </div> 
      </div>
        

      <hr>
    </form>
    {{/if}}
  
        <!-- {{/if}} -->
        
    </div>

  </div>
</template>


